
<!doctype html>
<head>
    <title> Photo Gallery </title>
</head>
    <body>
        
        <div class="title">
            <h1>Comment Section </h1>
        </div>

        <form method="post" enctype="multipart/form-data" action="/comments">
            <label for = "comment" > comment </label>
            <input type ="text" name = "text" /><br />
            <label for = "date" > date </label>
            <input type ="text" name = "date" /><br />
            
            <input type="submit" value="post" />
        </form>
        
        {% if comments %}
            <h2>Comments</h2>
            <ul>
                {% for comment in comments %}

                <li> {{comment}}<br>
                </li>
     {% endfor %}
            </ul>
     {% endif %}
        </body>