
<!doctype html>
<head>
    <title> Photo Gallery </title>
</head>
    <body>
        
        <div class="title">
            <h1>Comment Section </h1>
        </div>

        <form method="post" enctype="multipart/form-data" action="/comments/{{p_id}}">
            <label for = "comment" > comment </label>
            <input type ="text" name = "text" /><br />
            <input type="submit" value="post" />
        </form>
        <h2>Comments</h2>
        {% if comments %}
        
            <ul>
                {% for comment in comments %}

                <li> 
                    __________________ <br>
                    {{uid}} on {{comment[2]}}: <br>
                    <br>
                    {{comment[0]}}<br>
                    __________________<br>
                </li>

     {% endfor %}
            </ul>
     {% endif %}
        </body>