<!-- author ben lawson (balawson@bu.edu) -->
<head>
    <title>Create Album</title>
</head>
    <body>
        <div class="title">
            <h1>Create an Album in Photoshare </h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Please caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
