
<!doctype html>
<head>
    <title> Social </title>
</head>

<body> 


<h3>Look for Tags</h3>

<form method="post" enctype="multipart/form-data" action="/tags">
    <label for="tags">Search for tags:</label>
    <input type="text" name="tags" required='true' /><br />
    <input type="submit" value="Look" />
</form>

<head> Most popular tags</head>
    {% if famous %} 
    {% for f in famous %}
    <li>{{f}}</li>
    {% endfor %}
    {% endif %} 

{% if tagged %}
Results:
   <li> {% for tag in tagged %}
    <img src='data:image/jpg;base64, {{ base64.b64encode(tag[0]).decode("ascii") }}'/>
   </li> 
    {% endfor %}
    {% endif %}





</body>